.titleHeader {
	display: flex;
	color: #00e0e5;
	justify-content: center;
	font-weight: bold;
}

.titleList {
	color: #00e0e5;
	margin: 3%;
	text-align: center;
	font-weight: bold;
}

.button {
	text-align: center;
}

.checkbox {
	text-align: center;	
}

.titleTask {
	color: black;
	font-weight: bold;
	font-size: 2.5vh;
	margin: 1.5vh;
}

.titleDetail {
	color: black;	
	font-weight: bold;
}

.detail {
	color: gray;
}