.titleModal {
	display: flex;
	color: #00e0e5;
	justify-content: center;
	font-weight: bold;
}

.fieldInput {
	text-align: center;
	margin: 5%;
}

.error {
	color: red;
	font-weight: bold;
}

.button {
	text-align: center;
}